<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base_css1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reg1.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <script type="text/javascript" src="{% static 'js/base_js1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" class="reg_table" action="/registration/">
    {% csrf_token %}
    <table>
          <tbody>
              <tr>
                <td>{{ form.user_name.label_tag }}</td>
                <td>{{ form.user_name }}</td>
              </tr>
          </tbody>
          <tbody><tr><td></td><td><div class="errors"></div></td></tr></tbody>
          <tbody>
              <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
              </tr>
          </tbody>
          <tbody><tr><td></td><td><div class="errors"></div></td>
          <tbody>
              <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
              </tr>
          </tbody>
          <tbody><tr><td></td><td><div class="errors"></div></td>
          <tbody>
              <tr>
                  <td>{{ form.password_confirm.label_tag }}</td>
                  <td>{{ form.password_confirm }}</td>
              </tr>
          </tbody>
          <tbody><tr><td></td><td><div class="errors"></div></td>
      </table>

      <input class="button" type="submit" value="register">
        <input type="hidden" name="next" value="/main/">
        <input type="hidden" name="registration_form" value="ff">

      </form>
</body>
</html>